/* 全局设置 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5; /* 浅灰色背景 */
    color: #333333; /* 深灰色文字 */
    font-size: 16px; /* 增加全局字体大小 */
}

/* 引用部分 */
#quote {
    background-color: #FFFFFF; /* 白色背景 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    margin: 10px;
    text-align: center;
}

#quote.text {
    font-size: 18px; /* 增加引用部分字体大小 */
    text-align: center;
}

/* 工具栏 */
#toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FFFFFF; /* 白色背景 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    margin: 10px;
}

#toolbar div {
    margin: 5px;
}

#toolbar label {
    font-size: 18px; /* 增加工具栏标签字体大小 */
    font-weight: bold;
}

#toolbar.rate {
    text-align: center;
}

/* 主容器 */
.main_container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#main_left, #main_right {
    flex: 1;
    background-color: #FFFFFF; /* 白色背景 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    margin: 5px;
}

#main_left, #main_right {
    font-size: 16px; /* 增加主容器内字体大小 */
}